{% extends "base.html.twig" %}
{% block body %}
  <div class="container">
    <h2>🛩 Créer un nouveau vol</h2>
    <hr>
    <h3>🛫 Gérer les vols programmés</h3>
    <table class="table">
      <thead class="thead-inverse">
      <tr>
        <th style="background: cornflowerblue;">Numéro de vol</th>
        <th style="background: cornflowerblue;">Vol</th>
        <th style="background: cornflowerblue;">Heure</th>
        <th style="background: cornflowerblue;">Actions</th>
        <th style="background: cornflowerblue;"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Éditer</td>
        <td>Supprimer</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Éditer</td>
        <td>Supprimer</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Éditer</td>
        <td>Supprimer</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}